body{
    width: fit-content;
    float: right;
    border-color: aliceblue;
}
#body1{
    background-color: black;
    border-style: double;
    border-width: 9px;
    border-color: white;
    border-radius: 15px;
    width: 500px;
    float: inline-start;
}
#body2{
    background-image: url(images/mkr.png);
    
}
header{
    margin-left: 20%;
    margin-right: 20%;
}
#title{
    margin-left: 25%;
}
a:link{
    color:grey;
    background-color: antiquewhite;
}
a:visited{
    color:black;
    background-color:antiquewhite;
}
a:hover{
    color:antiquewhite;
    background-color: grey;
}
a:active{
    color:black;
}

button:hover{
    color:red;
    border-style: outset;
    border-color: rgb(26, 26, 26);

}
main{
    background-image:url(images/mkr.png);
    background-repeat:space;
    background-color: rgb(0);
    background-size: fixed;
    background-position: 0%;
    border-radius: 6px;
    
}